.title-img{
    background-image: url("../images/default/contact-section.png") ;

}


.content {

    top: 60px;
    height: calc(100vh - 60px);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 20px
}

.contact {
    width: 80%;
    max-width: 1080px;
    display: flex;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.28);
    border-radius: 5px;
    overflow: hidden
}

.other {
    width: 60%;

    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.other:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

}

.form {
    width: 40%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.form h1 {
    text-align: center;
    margin-bottom: 20px;
    width: 100%
}

.form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.flex-rev {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
    width: 100%
}

.flex-rev input,
.flex-rev textarea {
    border: none;
    background-color: #e6e6e6;
    padding: 12px 10px;
    font-size: 16px;
    resize: none;
    margin-top: 7px;
    margin-bottom: 16px;
    border-radius: 5px;
    color: #243342;
    outline-color: #243342;
    outline-width: thin;
    -webkit-appearance: none
}

.flex-rev textarea {
    height: 150px
}

button {
    -webkit-appearance: none;
    margin-right: 0
}






@media screen and (max-width: 900px) {
    .content {
        padding: 10px 0 0;
        display: block
    }


    .contact {
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0;
        box-shadow: 0px 0px 0px 0px
    }

    .other {
        width: 100%;
        padding: 20px 0
    }

    .form {
        width: 100%
    }
}

@media screen and (max-height: 660px) {
    .content {
        align-items: flex-start
    }
}
