{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la Nîmes'Alerie{% endblock %}

{% block body %}


    <div class="container">
        <h1>- Mentions légales -</h1>
        <div class="row mt-5 py-5">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            1. Éditeur et responsable de publication
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <p>Le site lanîmesalerie est la propriété de la société La Nîmes'alerie société à responsabilité limitée dont le siège social est situé à NÎMES.
                                <br> Cette société est immatriculée au RCS de Nîmes sous le numéro 300 002 022.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            2. Droits de propriété intellectuelle
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                           <p>Les éléments présents sur ce site : photographies, textes, slogans, dessins, images, séquences animées ou non et logos sont la propriété exclusive de la société La Nîmes'alerie et de leurs auteurs. Toute utilisation, diffusion, reproduction, représentation, adaptation ou modification de ces éléments, sans l'accord de La Nîmes'alerie, est interdite.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            3. Protection des données à caractère personnel
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                            <p>Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, ce site à fait l'objet d'une déclaration portant sur les traitements des données personnelles auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL).
                                <br>
                                Concernant les informations à caractère nominatif que vous seriez amener à nous communiquer, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données vous concernant et cela conformément à la loi n° 78-17 du 6 janvier 1978 dite « informatique et libertés ». Vous avez la possibilité d'exercer ce droit sur simple demande par courrier au responsable de publication La Nîmes'alerie.
                                <br>
                                Les informations recueillies sont exclusivement destinées à un usage interne à des fins de gestion administrative et commerciale, pour vous informer de l'actualité commerciale et vous adresser des lettres d'information thématiques. Ces informations ne seront en aucun cas communiquées à des tiers à la société La Nîmes'alerie au sens des articles L. 233-3 et suivants du Code de commerce.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                            4. Service fournis
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        <div class="accordion-body">
                            <p>L’ensemble des activités de la société ainsi que ses informations sont présentés sur notre site lanîmesalerie.
                                <br>
                                La Nîmes'alerie de s’efforce de fournir sur le site Lanîmesalerie des informations aussi précises que possible. Les renseignements figurant sur le site lanîmesalerie ne sont pas exhaustifs et les photos non contractuelles. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne. Par ailleurs, toutes les informations indiquées sur le site lanîmesalerie sont données à titre indicatif, et sont susceptibles de changer ou d’évoluer sans préavis.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                            5. Droit applicable
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                        <div class="accordion-body">
                            <p>Les présentes Conditions Générales sont soumises au droit interne français. La langue des Conditions Générales est la langue française. En cas de litige, les tribunaux français seront seuls compétents.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}